# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
#Data Load and DF setup
weather_datacsv = "../output_data/CityWeather.csv"
weather_data = pd.read_csv(weather_datacsv)
weather_clean = weather_data.dropna()
weather_clean

,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,geraldton,0,1610738106,34,-28.7667,114.6000,84.20,26.46
1,sao filipe,100,1610738107,65,14.8961,-24.4956,74.41,10.96
2,mataura,24,1610738107,91,-46.1927,168.8643,56.23,1.66
3,bumbuna,13,1610738107,21,9.0500,-11.7333,79.90,1.61
4,bluff,93,1610738107,93,-46.6000,168.3333,56.73,2.84
...,...,...,...,...,...,...,...,...
581,lumeje,73,1610738297,88,-11.5500,20.7833,65.14,3.47
582,tanabe,97,1610738297,70,33.7333,135.3667,54.61,6.35
583,altamira,40,1610738297,58,-3.2033,-52.2064,89.60,8.05
584,tautira,75,1610738232,65,-17.7333,-149.1500,84.20,2.30
585,nuevo progreso,100,1610738297,33,23.1667,-97.9500,73.00,8.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
#Gmap Configure
gmaps.configure(api_key = g_key)

# Locations
locations = weather_clean[['Lat','Lng']]
humidity = weather_clean["Humidity"].astype(float)

#heatmap plotting
gmap_heat=gmaps.figure()
heat = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,max_intensity=100,point_radius=2)
gmap_heat.add_layer(heat)
gmap_heat

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Narrow down the DataFrame to find your ideal weather condition. For example:

#   * A max temperature lower than 80 degrees but higher than 70.

#   * Wind speed less than 10 mph.

#   * Zero cloudiness.

#   * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
#Lower than 80 degress but higher than 70, start by complining conditions
#above 70 filter
Above_70 = weather_clean[weather_clean['Max Temp'] > 70]
#betwen 70 to 80 filter
Between_70_80 = Above_70[Above_70['Max Temp']< 80]
Between_70_80
#Drop Cloudiness
NoCloud_70_80 = Between_70_80[Between_70_80['Cloudiness']==0]
#Windspeed < 10 mph
NoCloud_70_80_LowWind = NoCloud_70_80[NoCloud_70_80['Windspeed']<10]
NoCloud_70_80_LowWind

#Clean Index up
Clean_WeatherCond = NoCloud_70_80_LowWind.reset_index()
del Clean_WeatherCond["index"]
Clean_WeatherCond

,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,xuddur,0,1610738108,42,4.1213,43.8894,78.33,9.01
1,namibe,0,1610738119,66,-15.1961,12.1522,75.45,9.42
2,todos santos,0,1610738122,35,23.4500,-110.2167,73.00,5.99
3,carnarvon,0,1610737868,100,-24.8667,113.6333,77.00,8.05
4,salalah,0,1610738181,60,17.0151,54.0924,71.60,5.75
5,guerrero negro,0,1610738187,19,27.9769,-114.0611,76.93,1.97
6,sumbe,0,1610738190,80,-11.2061,13.8437,75.96,8.63
7,maridi,0,1610738249,25,4.9158,29.4742,77.02,1.97
8,biltine,0,1610738256,21,14.5333,20.9167,70.29,6.67
9,talaja,0,1610738256,50,21.3500,72.0500,70.30,6.73
10,yarada,0,1610738259,100,17.6500,83.2667,71.60,2.30
11,lahij,0,1610738263,59,13.1667,44.5833,71.06,4.76

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure