# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Data Load and DF setup
weather_datacsv = "../output_data/CityWeather.csv"
weather_data = pd.read_csv(weather_datacsv)
weather_clean = weather_data.dropna()
weather_clean

,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Country
0,kruisfontein,0,1610981378,56,-34.0033,24.7314,78.01,8.99,ZA
1,bilma,99,1610981374,17,18.6853,12.9164,77.90,4.94,NE
2,airai,100,1610981374,100,-8.9266,125.4092,61.81,1.28,TL
3,ajdabiya,80,1610981597,61,30.7554,20.2263,60.39,20.76,LY
4,bredasdorp,0,1610981419,57,-34.5322,20.0403,75.20,19.57,ZA
...,...,...,...,...,...,...,...,...,...
561,sirsa,0,1610981757,47,29.5333,75.0167,57.78,5.46,IN
562,meulaboh,100,1610981449,76,4.1363,96.1285,79.66,1.99,ID
563,komsomolskiy,58,1610981511,60,40.4272,71.7189,41.00,4.61,UZ
564,wuzhou,0,1610981758,47,23.4833,111.3167,49.73,2.51,CN
565,traverse city,90,1610981716,93,44.7631,-85.6206,32.00,3.27,US

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Gmap Configure
gmaps.configure(api_key = g_key)

# Locations
locations = weather_clean[['Lat','Lng']]
humidity = weather_clean["Humidity"].astype(float)

#heatmap plotting
gmap_heat=gmaps.figure()
heat = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,max_intensity=100,point_radius=2)
gmap_heat.add_layer(heat)
gmap_heat

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Narrow down the DataFrame to find your ideal weather condition. For example:

#   * A max temperature lower than 80 degrees but higher than 70.

#   * Wind speed less than 10 mph.

#   * Zero cloudiness.

#   * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#Lower than 80 degress but higher than 70, start by complining conditions
#above 70 filter
Above_70 = weather_clean[weather_clean['Max Temp'] > 70]
#betwen 70 to 80 filter
Between_70_80 = Above_70[Above_70['Max Temp']< 80]
Between_70_80
#Drop Cloudiness
NoCloud_70_80 = Between_70_80[Between_70_80['Cloudiness']==0]
#Windspeed < 10 mph
NoCloud_70_80_LowWind = NoCloud_70_80[NoCloud_70_80['Windspeed']<10]
NoCloud_70_80_LowWind

#Clean Index up
Clean_WeatherCond = NoCloud_70_80_LowWind.reset_index()
del Clean_WeatherCond["index"]
Clean_WeatherCond

,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Country
0,kruisfontein,0,1610981378,56,-34.0033,24.7314,78.01,8.99,ZA
1,salalah,0,1610981383,47,17.0151,54.0924,77.00,3.44,OM
2,nicoya,0,1610981635,78,10.1483,-85.4520,75.20,2.30,CR
3,machilipatnam,0,1610981691,83,16.1667,81.1333,77.00,4.61,IN
4,champerico,0,1610981694,78,14.3000,-91.9167,75.20,2.73,GT
5,constitucion,0,1610981452,44,-35.3333,-72.4167,72.34,5.55,CL
6,antofagasta,0,1610981697,68,-23.6500,-70.4000,75.00,8.05,CL
7,bang mun nak,0,1610981729,40,16.0278,100.3792,75.99,7.36,TH
8,iranshahr,0,1610981730,27,27.2025,60.6848,73.40,6.91,IR
9,pimentel,0,1610981754,73,-6.8367,-79.9342,71.60,5.75,PE
10,marzuq,0,1610981756,20,14.4000,46.4667,72.01,9.37,YE

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = Clean_WeatherCond

#Parameter set up 
params = {
    "radius":5000,
    "types":"lodging",
    "key":g_key
}

#Loop for Nearest Hotel
for index,row in hotel_df.iterrows():
    #Lat,Long DF find
    lat = row['Lat']
    lng = row['Lng']
    #Param for each location
    params["location"] = f"{lat},{lng}"
   
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    print(f"Retrieving results for index {index}: {row['City']}.")
    #requests
    response = requests.get(base_url, params=params).json()
    #Result
    results = response['results']
    
    try:
        print(f"closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing Field")
        
    print("-------------------")

hotel_df

Retrieving results for index 0: kruisfontein.
closest hotel is Oyster Bay House Rental.
-------------------
Retrieving results for index 1: salalah.
closest hotel is HAMDAN PLAZA HOTEL.
-------------------
Retrieving results for index 2: nicoya.
closest hotel is Guayacan Real.
-------------------
Retrieving results for index 3: machilipatnam.
closest hotel is RK Family Restaurant.
-------------------
Retrieving results for index 4: champerico.
closest hotel is Hotel y restaurante "El Diamante".
-------------------
Retrieving results for index 5: constitucion.
closest hotel is Hotel Boutique Las Azucenas.
-------------------
Retrieving results for index 6: antofagasta.
closest hotel is Holiday Inn Express Antofagasta.
-------------------
Retrieving results for index 7: bang mun nak.
closest hotel is NIDA Rooms Phichit 55 Bang Mun Nak.
-------------------
Retrieving results for index 8: iranshahr.
closest hotel is Ù†ÛŒÚ© Ø³Ø±Ø´Øª.
-------------------
Retrieving results for index 9: pimentel.
closest hotel is Casona Del Muelle.
-------------------
Retrieving results for index 10: marzuq.
Missing Field
-------------------

,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Country,Hotel Name
0,kruisfontein,0,1610981378,56,-34.0033,24.7314,78.01,8.99,ZA,Oyster Bay House Rental
1,salalah,0,1610981383,47,17.0151,54.0924,77.00,3.44,OM,HAMDAN PLAZA HOTEL
2,nicoya,0,1610981635,78,10.1483,-85.4520,75.20,2.30,CR,Guayacan Real
3,machilipatnam,0,1610981691,83,16.1667,81.1333,77.00,4.61,IN,RK Family Restaurant
4,champerico,0,1610981694,78,14.3000,-91.9167,75.20,2.73,GT,"Hotel y restaurante ""El Diamante"""
5,constitucion,0,1610981452,44,-35.3333,-72.4167,72.34,5.55,CL,Hotel Boutique Las Azucenas
6,antofagasta,0,1610981697,68,-23.6500,-70.4000,75.00,8.05,CL,Holiday Inn Express Antofagasta
7,bang mun nak,0,1610981729,40,16.0278,100.3792,75.99,7.36,TH,NIDA Rooms Phichit 55 Bang Mun Nak
8,iranshahr,0,1610981730,27,27.2025,60.6848,73.40,6.91,IR,Ù†ÛŒÚ© Ø³Ø±Ø´Øª
9,pimentel,0,1610981754,73,-6.8367,-79.9342,71.60,5.75,PE,Casona Del Muelle
10,marzuq,0,1610981756,20,14.4000,46.4667,72.01,9.37,YE,NaN

In [6]:
# NOTE: Do not change any of the code in this cell
locations = hotel_df[["Lat","Lng"]]
markers =gmaps.marker_layer(locations)
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [10]:
# Add marker layer ontop of heat map
hotel = gmaps.symbol_layer(
    locations, fill_color='rgba(0,150,0,0.4)',
    stroke_color='rgba(0,0,150,0.4)', scale =2,
    info_box_content=hotel_info)

# Display figure
gmap_heat.add_layer(markers)
gmap_heat.add_layer(hotel)
gmap_heat

Figure(layout=FigureLayout(height='420px'))